<div class="sources-container">

    <div *ngFor="let source of sources" class="source" (click)="openEditStagedTransactionsDialog(source)"
        [class.was_imported]="source.stagedBalance != 0">
        <div style="min-width: 20%;">
            {{source.name}}
        </div>
        <div class="saldo">
            {{source.symbol}} {{(source.balance + source.stagedBalance) | customNumber}}
        </div>
        <div class="options">
            <button mat-button class="options" (click)="fileInput.click(); $event.stopPropagation();">
                <mat-icon>upload</mat-icon> {{source.type}}
                <input type="file" #fileInput (input)="uploadFile($event, source, fileInput)" style="display: none;" />
            </button>
            <button mat-button (click)="openManualDebitDialog(source); $event.stopPropagation();" class="options">
                <mat-icon>list</mat-icon> Manually
            </button>
        </div>
    </div>
    <div class="block">
        <mat-checkbox [(ngModel)]="canGoCheckbox">All sources have a real balance
            value</mat-checkbox>
    </div>
    <div class="block">
        <button matStepperNext [disabled]="!canGoCheckbox" mat-button (click)="goNextStep()"
            class="default_button">Next</button>
    </div>
</div>