<div class="panel">
    <div class="title">Manage Rules</div>

    <select [(ngModel)]="selectedRuleId" (ngModelChange)="updateSelectedRule()" class="selected_rule">
        <option *ngFor="let rule of getNotDeletedRules();" [value]="rule.id">
            {{rule.orderNumber}}. Input "{{rule.field == 'category' && rule.value ? getCategoryById(rule.value).name :
            rule.value}}"
            on {{rule.field}} field
        </option>
    </select>
    <button (click)="addRule()" mat-icon-button>
        <mat-icon>add</mat-icon>
    </button>
    <hr />
    <div *ngIf="selectedRule">

        <div class="title">Conditionals</div>
        <div>
            Execution order number
            <select [(ngModel)]="selectedRule.orderNumber" (ngModelChange)="setToUpdate(selectedRule)">
                <option *ngFor="let rule of rules; index as ruleIndex" [value]="(ruleIndex + 1)">
                    {{ruleIndex + 1}}
                </option>
            </select>
        </div>

        <div class=" conditional">
            It should input
            <input *ngIf="selectedRule.field != 'category'" [(ngModel)]="selectedRule.value"
                (ngModelChange)="setToUpdate(selectedRule)" type="text" />
            <select *ngIf="selectedRule.field == 'category'" [(ngModel)]="selectedRule.value"
                (ngModelChange)="setToUpdate(selectedRule)">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
            on
            <select [(ngModel)]="selectedRule.field" (ngModelChange)="setToUpdate(selectedRule)">
                <option [value]="inputbleField" *ngFor="let inputbleField of inputbleFields">
                    {{inputbleField}}
                </option>
            </select> field
        </div>
        <div class="conditional"
            *ngFor="let conditional of getNotDeletedConditionals(selectedRule.Conditionals); index as conditionalIndex">
            {{conditionalIndex == 0 ? 'when' : 'and'}}
            <select [(ngModel)]="conditional.field" (ngModelChange)="setToUpdate(conditional)">
                <option [value]="conditionalField.id" *ngFor="let conditionalField of conditionalFields">
                    {{conditionalField.name}}
                </option>
            </select>
            value
            <select [(ngModel)]="conditional.operator" (ngModelChange)="setToUpdate(conditional)">
                <option [value]="operator.id"
                    *ngFor="let operator of getOperatorsFromConditionalFieldId(conditional.field)">
                    {{operator.name}}
                </option>
            </select>
            <input [(ngModel)]="conditional.value" type="text" (ngModelChange)="setToUpdate(conditional)" />
            <button (click)="deleteConditional(conditional)" *ngIf="conditionalIndex != 0" mat-icon-button>
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
        <div class="conditional">
            <button (click)="addConditional()" mat-button
                style="display: flex; align-items: center; justify-content: center;">
                And...
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="btn_container">
        <button class="btn delete_btn" (click)="deleteRule()" mat-button>Delete Rule</button>
        <button [disabled]="!dialogRef.disableClose" (click)="save()" class="btn default_button"
            mat-button>Save</button>
    </div>

</div>

<button mat-icon-button mat-dialog-close class="btn_dialog_close">
    <mat-icon>cancel</mat-icon>
</button>