.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.container>div{
    padding: 10px;
    box-sizing: border-box;
}

select{
    padding: 7px;
    width: fit-content;
}

.center_container{
    display: flex;
    justify-content: center;
}