.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 13px;
    box-sizing: border-box;
}

.delete_btn{
    color: var(--danger);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    width: 100%;
    position: relative;
}

.options{
    position: absolute;
    top:5px;
    right: 5px;
}