<app-header></app-header>
<mat-horizontal-stepper #stepper migrate-stepper [selectedIndex]="selectedIndex" (selectionChange)="loadData($event)"
    class="migrate-stepper">
    <mat-step [editable]="true" [completed]="false">
        <ng-template matStepLabel>Import</ng-template>
        <app-import-step (updateData)="loadData(undefined)"></app-import-step>
    </mat-step>
    <mat-step [editable]="true" [completed]="false">
        <ng-template matStepLabel>Debits</ng-template>
        <app-debit-step #debitStep></app-debit-step>
    </mat-step>
    <mat-step [editable]="true" [completed]="false">
        <ng-template matStepLabel>Credits</ng-template>
    </mat-step>
    <mat-step [editable]="true" [completed]="false">
        <ng-template matStepLabel>Finish</ng-template>
    </mat-step>
</mat-horizontal-stepper>