<app-header></app-header>
<app-title routerLink="/analytics" [text]="'ANALYTICS.CREDITS' | translate"></app-title>

<div class="filters">
    <mat-checkbox [(ngModel)]="filterActiveIncome" (ngModelChange)="onFilterChange()">
        {{ 'ANALYTICS.ACTIVE_INCOME' | translate }}
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="filterPassiveIncome" (ngModelChange)="onFilterChange()">
        {{ 'ANALYTICS.PASSIVE_INCOME' | translate }}
    </mat-checkbox>
    <button mat-button class="default_button" (click)="openKeywordsDialog()">
        <mat-icon>edit</mat-icon>
        {{ 'ANALYTICS.KEYWORDS_PASSIVE' | translate }}
    </button>
</div>

<div class="control">
    {{ 'ANALYTICS.CREDITS_PER_MONTH_FROM' | translate }}
    <button mat-icon-button (click)="goPreviousMonth('start')">
        <mat-icon>arrow_left</mat-icon>
    </button>
    {{startDate.toISOString().substring(0, 7)}}
    <button mat-icon-button (click)="goNextMonth('start')">
        <mat-icon>arrow_right</mat-icon>
    </button>
    {{ 'ANALYTICS.RANGE_TO' | translate }}
    <button mat-icon-button (click)="goPreviousMonth('end')">
        <mat-icon>arrow_left</mat-icon>
    </button>
    {{endDate.toISOString().substring(0, 7)}}
    <button mat-icon-button (click)="goNextMonth('end')">
        <mat-icon>arrow_right</mat-icon>
    </button>
</div>
<div class="chart">
    <div [chart]="chart"></div>
</div>
