.filters {
    padding: 12px 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    background-color: whitesmoke;
    margin-bottom: 8px;
}

.control {
    padding: 14px;
    border-radius: 4px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    padding: 8px;
}
