.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}
.container>div{
    padding-top: 6px;
    padding-bottom: 6px;
}

.centered_container{
    display: flex;
    justify-content: center;
}