<div class="btns-container">
    <button mat-button matStepperPrevious (click)="goPrevious()">
        {{ 'COMMON.PREVIOUS' | translate }}
    </button>
    <div *ngFor="let creditToDistribute of creditsToDistribute" (click)="setNewValue(creditToDistribute.credit)"
        class="total-to-distribute"
        [class.total-to-distribute-active]="!selectedCategory || selectedCategory?.Currency.symbol == creditToDistribute.symbol">
        {{creditToDistribute.symbol}} {{creditToDistribute.credit | customNumber}}
    </div>
    <button mat-button [disabled]="!canGo()" (click)="goNext()">
        {{ 'COMMON.NEXT' | translate }}
    </button>
</div>

<div class="container">
    <div class="left-container">
        <table class="categories">
            <tr class="category-header">
                <td>{{ 'TRANSACTION.CATEGORY' | translate }}</td>
                <td>{{ 'COMMON.CREDIT' | translate }}</td>
                <td>{{ 'COMMON.BALANCE' | translate }}</td>
            </tr>
            <tr *ngFor="let category of categories" [class.negative_category]="category.stagedBalance < 0"
                [class.selected_category]="selectedCategory?.id == category.id" (click)="selectCategory(category)">
                <td>{{category.name}}</td>
                <td style="color: darkgreen">{{category.Currency.symbol}} {{category.stagedCredit | number:
                    '1.2-2':'en-US'}}
                </td>
                <td>{{category.Currency.symbol}} {{ category.stagedBalance | customNumber}}</td>
            </tr>
        </table>
    </div>

    <div *ngIf="selectedCategory" class="right-container">
        <button (click)='back()' class="back_btn" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="right-item">
            <h1>{{selectedCategory?.name}}</h1>
            <span>
                {{ 'MIGRATE.BALANCE' | translate }}
                {{selectedCategory.Currency.symbol}}
                {{(selectedCategory.stagedBalance + newValue) | customNumber}}
            </span>

        </div>

        <div class="right-item">
            <input type="text" (keyup)="onNewValueKeyUp($event)" [prefix]="selectedCategory?.Currency.symbol + ' '"
                [(ngModel)]="newValue" mask="separator.2" separatorLimit="1000000000" #newValueInput />
            <br />

            <button *ngIf="selectedCategory.stagedCredit" (click)="undoCredit()" mat-button>
                <mat-icon>undo</mat-icon> {{selectedCategory.Currency.symbol}} {{selectedCategory.stagedCredit |
                customNumber}}
            </button>
            <button (click)="addCredit()" mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="credit-options-container">

            <div class="option-item" (click)="applyCreditOption('zeroBalance', getNeededToZero())">
                <div class="option-header">
                    {{ 'MIGRATE.ZERO_BALANCE' | translate }}
                </div>

                <div>
                    {{selectedCategory?.Currency.symbol}} {{0 | customNumber}}
                </div>
                (+ {{selectedCategory?.Currency.symbol}}
                {{getNeededToZero() | customNumber }})
            </div>

            <div class="option-item" (click)="applyCreditOption('currentDebit', getNeededToCurrentDebit())">
                <div class="option-header">
                    {{ 'MIGRATE.CURRENT_DEBIT' | translate }}
                </div>

                <div>
                    {{selectedCategory?.Currency.symbol}}
                    {{getCurrentDebit() | customNumber}}
                </div>
                (+ {{selectedCategory?.Currency.symbol}}
                {{getNeededToCurrentDebit() | customNumber }})
            </div>

            <div class="option-item" (click)="applyCreditOption('lastCredit', getLastCreditDistrib())">
                <div class="option-header">
                    {{ 'MIGRATE.LAST_CREDIT' | translate }}
                </div>

                <div>
                    {{selectedCategory?.Currency.symbol}}
                    {{getLastCreditDistrib() | customNumber}}
                </div>
                (+ {{selectedCategory?.Currency.symbol}}
                {{getLastCreditDistrib() | customNumber }})
            </div>

        </div>
    </div>

    <div *ngIf="!selectedCategory" class="right-container">
        <div class="right-item">
            <h2 *ngIf="!canGo()">{{ 'MIGRATE.SELECT_CATEGORY_DISTRIBUTE' | translate }}</h2>
            <h2 *ngIf="canGo()" (click)="goNext()" style="cursor: pointer;">{{ 'MIGRATE.NO_CREDITS_TO_DISTRIBUTE' | translate }}</h2>

            <h3>{{ 'MIGRATE.DECLARE_CREDITS_BELOW' | translate }}</h3>

            <table *ngIf="getTransferenceDifference() > 0" class="credits_to_describe" style="background-color: red;">
                <tr>
                    <td colspan="3">{{ 'MIGRATE.INCONSISTENT_TRANSFERENCES' | translate }}</td>
                </tr>
                <tr>
                    <td>{{ 'MIGRATE.DISTRIBUTED' | translate }}: {{getDistributedCreditTransferencesTotal()}}</td>
                    <td>{{ 'MIGRATE.DECLARED' | translate }}: {{getDeclaredCreditTransferencesTotal()}} </td>
                    <td>{{ 'MIGRATE.DIFFERENCE' | translate }}: {{getTransferenceDifference()}}
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <table class="credits_to_describe">
                <tr>
                    <td>{{ 'TRANSACTION.SOURCE' | translate }}</td>
                    <td>{{ 'MIGRATE.IS_TRANSFERENCE' | translate }}</td>
                    <td>{{ 'TRANSACTION.DESCRIPTION' | translate }}</td>
                    <td>{{ 'TRANSACTION.VALUE' | translate }}</td>
                    <td>{{ 'TRANSACTION.TRANSACTION_DATE' | translate }}</td>
                    <td>{{ 'TRANSACTION.SOURCE_DESCRIPTION' | translate }}</td>
                </tr>
                <tr *ngFor="let credit of credits">
                    <td>{{credit.Source.name}}</td>
                    <td>
                        <mat-checkbox [checked]="(credit.sourceReference == 'TRANSFERENCE')"
                            (change)="toggleIsTransference(credit)">
                        </mat-checkbox>
                    </td>
                    <td><input type="text" [(ngModel)]="credit.description" (change)="updateCredit(credit)" /></td>
                    <td>{{credit.Source.Currency.symbol}} {{credit.value | customNumber}}</td>
                    <td>{{credit.transactionDate}}</td>
                    <td>{{credit.sourceDescription}}</td>
                </tr>
            </table>
        </div>



    </div>


</div>
