.container{
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.left-container{
    width: 29.5%;
    height: 70vh !important;
    overflow: auto;
}

.right-container{
    background-color: whitesmoke;
    width: 70%;
    height: 70vh !important;
    overflow: auto;
}

.btns-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
}

input[type=text]{
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    background-color: rgba(245, 245, 245, 0.308);
}
input[type=text]:hover{
    border: 1px dashed gray;
}
input[type=text]:focus{
    border: 1px solid gray;
}

table.categories{
    border-collapse: collapse;
    width: 100%;
}

.categories td{
    border-bottom: 2px dashed rgb(182, 182, 182);
    padding: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    user-select: none;
}

tr.category-header{
    font-weight: 300;
}

.categories tr:not(.category-header):hover{
    background-color: var(--primary);
    cursor: pointer;
}

.selected_category{
    background-color: var(--primary);
}

.with_category_selected {
    cursor: crosshair;
}
.with_category_selected tr:hover{
    background-color: var(--primary);
}
.with_category_selected input[type=text]{
    pointer-events: none;
}
