<div class='inputs_container'>
    <div style="text-align: center;">
        <h2>Add Transactions</h2>
        <h5>{{source?.name}}</h5>
    </div>
    <div>
        <input class="default_input" type="date" [(ngModel)]="newTransaction.transactionDate" />
    </div>
    <div>
        <input class="default_input" type="text" placeholder="Description"
            [(ngModel)]="newTransaction.sourceDescription" />
    </div>
    <div>
        <input class="default_input" #newTransactionValueInput type="text" [allowNegativeNumbers]="false"
            [placeholder]="'Value ('+source?.symbol+')'" mask="separator.2"
            [thousandSeparator]="',' | thousandSeparatorTranslate" separatorLimit="1000000000"
            (keyup)="setNewTransactionValue(newTransactionValueInput.value)" />
    </div>
    <div style="text-align: center;">
        <button (click)="add('debit')" class="add_debit_button" mat-button>
            Add Debit
        </button>
        <button (click)="add('credit')" class="add_credit_button" mat-button>
            Add Credit
        </button>
    </div>
</div>

<div class='transactions_container'>
    <table>
        <tr>
            <td>Date</td>
            <td>Value</td>
            <td>Description</td>
            <td></td>
        </tr>
        <tr *ngFor='let transaction of transactions; index as index'>
            <td>{{transaction.transactionDate | customDate:'shortDate'}}</td>
            <td>{{source?.symbol}} {{transaction.value | number:'1.2-2':'en-US'}}</td>
            <td>{{transaction.sourceDescription}}</td>
            <td>
                <button (click)="remove(index)" mat-icon-button>
                    <mat-icon>cancel</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>
<div class='inputs_container'>
    <div style="text-align: center;">
        New balance ({{source?.symbol}}):
        <input class="new_balance_input" #newBalanceInput type="text" [allowNegativeNumbers]="false" mask="separator.2"
            [thousandSeparator]="',' | thousandSeparatorTranslate" separatorLimit="1000000000"
            (keyup)="updateNewTransactionValue(newBalanceInput.value)" />
    </div>
    <button [disabled]="transactions.length <= 0" (click)='finish()' mat-button class="insert_button">
        It´s done, finish!
    </button>
</div>

<button mat-icon-button mat-dialog-close class="btn_dialog_close">
    <mat-icon>cancel</mat-icon>
</button>