<app-header></app-header>
<app-title routerLink="/main" [text]="'USER_PAGE.UNDO_MIGRATION' | translate"></app-title>
<div class="big_container">
    <div class="migrations_container">
        <div class="t2">
            {{ 'UNDO_MIGRATION.SELECT' | translate }}
        </div>
        <div *ngFor="let migration of migrations" (click)="select(migration)" (mouseleave)="onLeave()"
            (mouseover)="onHover(migration)" class="migration" [class.selected]="migrationSelected == migration.date"
            [class.to_destroy]="migrationOnHover != '' && migrationOnHover < migration.date">
            {{migration.readbleDate}}
        </div>
    </div>
    <div class='board'>
        <div style="padding: 15px;">
            <h2>Migration: {{migrationSelected}}</h2>
            <button class="revert_btn" [disabled]="migrations[0].date == migrationSelected" mat-button>Revert to this
                point</button>
        </div>
        <table>
            <tr>
                <td>Source</td>
                <td>Balance</td>
            </tr>
            <tr *ngFor="let source of sources">
                <td>{{source.name}}</td>
                <td>{{source.symbol}} {{source.balance | customNumber}}</td>
            </tr>
        </table>
        <div style="padding: 17px; text-align: center;">

        </div>

    </div>
</div>